@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
}

#adminContent {
	width: 80%;
	box-sizing: border-box;
	margin-left: 280px;
	margin-top: 50px;
	line-height: 2em;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
body {
  font-family: "Lato";
  font-size: 100%;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: absolute;
  width: 17em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}
.sidebar header {
  background-color: #09f;
  width: 100%;
  display: block;
  padding: 0.75em	1em;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em	1em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  content: '\f125';
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080D11;
  z-index: 9;
  left: 2.5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.sidebar-nav ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#stock tr:not(:first-child):hover {
	background-color: #e7e2e7;
}

.itemList {
	text-align: center;
}

.itemList .item_num{
	width: 5%;
}

.itemList .item_name{
	width: 20%;
}

.itemList .item_category{
	width: 10%;
}

.itemList .item_price{
	width: 10%;
}

.itemList .item_create_date{
	width: 10%;
}

.itemList .item_readcount{
	width: 5%;
}

.itemList .item_etc{
	width: 5%;
}


.itemList tr td {
	border-bottom: 1px solid gray;
}

.itemList tr:first-child td {
	border-bottom: 2px solid gray;
	background-color: #b9aab9;
}

.itemList tr:not(:first-child):hover {
	background-color: #e7e2e7;
}

.userList {
	text-align: center;
	width: 100%;
	table-layout: fixed;
}


.userList tr td {
	border-bottom: 1px solid gray;
	overflow: hidden;
}

.userList tr:nth-child(1) td, .userList tr:nth-child(2) td {
	border-bottom: 2px solid gray;
	background-color: #b9aab9;
}

/* .userList [class*=user_num_]:hover { */
/* 	background-color: #e7e2e7; */
/* } */

.userList tr:not(:nth-child(2n)):hover,
.userList tr:not(:nth-child(2n)):hover + tr{
	background-color: #e7e2e7;
}

.userList tr:not(:nth-child(2n-1)):hover,
.userList tr:not(:nth-child(2n-1)):hover {
	background-color: #e7e2e7;
}

.userList .user_num {
	width: 4%;
}

.userList .user_id {
	width: 9%;
}

.userList .user_pw {
	width: 9%;
}

.userList .user_name {
	width: 9%;
}

.userList .user_email {
	width: 9%;
}

.userList .user_addr {
	width: 15%;
}

.userList .user_point {
	width: 10%;
}

.userList .user_bank {
	width: 9%;
}

.userList .user_join_date {
	width: 9%;
}

.userList .user_etc {
	width: 9%;
}

.userList .user_gender {
	width: 9%;
}

.userList .user_birth {
	width: 9%;
}

.userList .user_nickname {
	width: 9%;
}

.userList .user_phone {
	width: 9%;
}

.userList .user_account {
	width: 9%;
}

.userList .user_late_login {
	width: 9%;
}

.userList .user_state {
	width: 9%;
}

.userList .slideText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.userList .slideText:hover {
  margin:0;
  padding-left:100%;
  display: inline-block;
  white-space:nowrap;
    -webkit-animation-name:marquee;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:7s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name:marquee;
    -moz-animation-timing-function:linear;
    -moz-animation-duration:7s;
    -moz-animation-iteration-count:infinite;
    -ms-animation-name:marquee;
    -ms-animation-timing-function:linear;
    -ms-animation-duration:7s;
    -ms-animation-iteration-count:infinite;
    -o-animation-name:marquee;
    -o-animation-timing-function:linear;
    -o-animation-duration:7s;
    -o-animation-iteration-count:infinite;
    animation-name:marquee;
    animation-timing-function:linear;
    animation-duration:7s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
  from   { -ms-transform: translate(0%);}
  99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
  from   { -o-transform: translate(0%);}
  99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

.noticeList {
	text-align: center;
	width: 100%;
}

.noticeList .notice_num{
	width: 5%;
}

.noticeList .notice_subject{
	width: 40%;
}

.noticeList .notice_date{
	width: 15%;
}

.noticeList .notice_count{
	width: 10%;
}

.noticeList .notice_d{
	width: 10%;
}

.noticeList .notice_delete{
	width: 10%;
}

.noticeList .notice_etc{
	width: 10%;
}

.noticeList tr td {
	border-bottom: 1px solid gray;
}

.noticeList tr:first-child td {
	border-bottom: 2px solid gray;
	background-color: #b9aab9;
}

.noticeList tr:not(:first-child):hover {
	background-color: #e7e2e7;
}

 /* The Modal (background) */
.myModal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.myModal:nth-child(n) {
	display: none; /* Hidden by default */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */                          
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

 /* The Modal (background) */
.state_modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.state_modal:nth-child(n) {
	display: none; /* Hidden by default */
}

/* Modal Content/Box */
.state_modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */                          
}

/* The Close Button */
.state_close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.state_close:hover, .state_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}