@charset "UTF-8";

.noticecontent-form {
	display: inline;
}

.table{
 	text-align: center; 
	width: 1200px !important; 
	margin: auto;
	margin-bottom: 10%;
}

.table #noticecontent-td {
	text-align: left;
}

.table th {
	text-align: center;
}

.table td a {
	text-decoration: none;
}

.noticelist-write {
	margin-left: 78%;
	margin-bottom: 10px;
}

.noticelist-h3 {
	text-align: center;
}

#noticelist-important {
	width: 5% !important;
}

.noticecontent-h3 {
	text-align: center;
	margin-bottom: 30px;
}

.noticecontent-btn {
	margin-left: 77%;
	margin-bottom: 3%;
}

.noticewrite-h3 {
	text-align: center;
}

.noticewrite-form {
	margin-left: 27%;
}

.noticewrite-subject {
	width: 800px;
	margin-bottom: 2%;
}

.noticewrite-important {
	margin-left: 55%;
}

.noticewrite-write {
	margin-left: 57%;
	margin-bottom: 3%;
}

.noticemodify-form {
	width: 1200px;
	margin-left: 30%
}

.noticemodify-h3 {
	text-align: center;
	margin-bottom: 3%;
}

.noticemodify-subject {
	width: 600px;
}

.noticemodify-button {
	margin-left: 49%;
}

#noticemodify-important {
	margin-left: 49%;
}

















