@charset "UTF-8";

.mypage-nav{
	width: 170px;
    font-family:  "Inconsolata", monosapce;
    font-size: 16px;
    line-height: 20px;
    margin: 50px;
    float: left;
}

.mypage-menu>dd>a{
	display: block;
    color: #aaaaaa;
    line-height: 40px;
	
}

.mypage-menu>dt{
	font-size: 22px;
    line-height: 40px;
}
.mypage-cont{
	width: calc(100% - 280px);
    padding: 0;
    float: right;   
    margin-top: 50px;
    
}
.mypage-header>h1{
	font-size: 24px;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
}
.mypage-header{
	
    border-bottom: 3px solid #000000;
    padding-bottom: 14px;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    position: relative;
}
.mypage-table{
	width: 100%;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
}
.mypage-table td{
	padding: 15px 0;
}