@charset "UTF-8";

#main {
	width: 60%;
	margin: 0 auto;
	line-height: 2em;
}

.mainText {
	text-align: center;
}

[id*=CheckText] {
	color: gray;
	font-size: small;
	height: auto;
	padding-left: 3%;
}