@charset "UTF-8";

#main {
	width: 60%;
	margin: 0 auto;
	line-height: 2em;
}

.mainText {
	text-align: center;
}

[id*=CheckText] {
	color: gray;
	font-size: small;
	height: auto;
	padding-left: 3%;
}

#submit_button {
	margin-right: 2%;
	float: right;
}

.under_line_solid_gray {
	border: none;
	border-bottom: 1px solid gray;
}

.border_none {
	border: none;
}