<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jps.mapper.AdminMapper">
	<insert id="insertItem">
		insert into item (item_category, item_name, item_price, item_img, item_content, item_create_date, item_read_count, item_point) 
		values(#{item_category}, #{item_name}, #{item_price}, #{item_img}, #{item_content}, now(), #{item_read_count}, #{item_point})
	</insert>
	
	<select id="itemlist" resultType="com.jps.domain.ItemVO">
		select * from item order by item_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="getItemNum" resultType="int">
		select item_num from item order by item_num desc limit 0,1;
	</select>
	
	<insert id="insertItemDetail">
		insert into item_detail(item_num, item_size, item_color, item_stock)
		 values(#{item_num},#{item_size},#{item_color},#{item_stock})
	</insert>
	
	<select id="userlist" resultType="com.jps.domain.UserVO">
		select * from user order by user_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="noticelist" resultType="com.jps.domain.NoticeVO">
		select * from notice order by notice_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<update id="updatePoint">
		update user set user_point=user_point+#{user_point} where user_num=#{user_num}
	</update>
	
	<update id="resetPW">
		update user set user_pw="asd123" where user_num=#{user_num}
	</update>
	
	<update id="updateState">
		update user set user_state=#{user_state} where user_num=#{user_num}
	</update>
	
	<select id="userCnt" resultType="int">
		select count(*) from user
	</select>
	
	<select id="itemCnt" resultType="int">
		select count(*) from item
	</select>
	
	<select id="noticeCnt" resultType="int">
		select count(*) from notice
	</select>
	
	<insert id="insertNotice">
		insert into notice (notice_subject, notice_content, notice_count, notice_date, notice_file, notice_important) 
		values(#{notice_subject}, #{notice_content}, #{notice_count}, now(), #{notice_file}, #{notice_important})
	</insert>
	
	<select id="itemSearchOfSubject"  resultType="com.jps.domain.ItemVO">
		select * from item where item_name like '%${search}%' order by item_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="itemSearchOfContent" resultType="com.jps.domain.ItemVO">
		select * from item where item_content like '%${search}%' order by item_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="itemSearchOfSC" resultType="com.jps.domain.ItemVO">
		select * from item where concat(item_name, item_content) like '%${search}%' order by item_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="itemCountOfSubject" resultType="int">
		select count(*) from item where item_name like '%${search}%'
	</select>
	
	<select id="itemCountOfContent" resultType="int">
		select count(*) from item where item_content like '%${search}%'
	</select>
	
	<select id="itemCountOfSC" resultType="int">
		select count(*) from item where concat(item_name, item_content) like '%${search}%'
	</select>
	
	<select id="noticeSearchOfSubject"  resultType="com.jps.domain.NoticeVO">
		select * from notice where notice_subject like '%${search}%' order by notice_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="noticeSearchOfContent" resultType="com.jps.domain.NoticeVO">
		select * from notice where notice_content like '%${search}%' order by notice_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="noticeSearchOfSC" resultType="com.jps.domain.NoticeVO">
		select * from notice where concat(notice_subject, notice_content) like '%${search}%' order by notice_num desc limit #{startRow} , #{pageSize}
	</select>
	
	<select id="noticeCountOfSubject" resultType="int">
		select count(*) from notice where notice_subject like '%${search}%'
	</select>
	
	<select id="noticeCountOfContent" resultType="int">
		select count(*) from notice where notice_content like '%${search}%'
	</select>
	
	<select id="noticeCountOfSC" resultType="int">
		select count(*) from notice where concat(notice_subject, notice_content) like '%${search}%'
	</select>

	<select id="getItemJoinList" resultType="map" >
		select * from item natural join item_detail where item_num = #{item_num}
	</select>
	
	<update id="updateItem">
		update item set item_category = #{item_category}, item_name = #{item_name}, item_price = #{item_price}, item_img = #{item_img}, item_content = #{item_content}
		where item_num = #{item_num}
	</update>
	
	<update id="updateItemDetail">
		update item_detail set item_color=#{item_color}, item_size=#{item_size}, item_stock=#{item_stock}
		where item_detail_idx = #{item_detail_idx}
	</update>
	
	<select id="detailIdxList" resultType="Integer">
		select item_detail_idx from item_detail
		where item_num = #{item_num}
	</select>
	
	<delete id="deleteDetailOfIdx">
		delete from item_detail where item_detail_idx=#{idxList }
	</delete>
	
	<delete id="deleteDetailOfItemNum">
		delete from item_detail where item_num=#{item_num }
	</delete>
	
	<delete id="deleteItem">
		delete from item where item_num=#{item_num }
	</delete>
	
	<select id="noticeInfo" resultType="com.jps.domain.NoticeVO">
		select * from notice where notice_num=#{notice_num }
	</select>
	
	<update id="updateNotice">
		update notice set notice_important=${notice_important}, notice_subject=#{notice_subject}, notice_content=#{notice_content}, notice_file=#{notice_file} where notice_num=#{notice_num}
	</update>
	
	<delete id="deleteNotice">
		delete from notice where notice_num=#{notice_num }
	</delete>
	
	<select id="popupList" resultType="com.jps.domain.PopupVO">
		select * from popup
	</select>
	
	<insert id="insertPopup">
		insert into popup (popup_img, popup_title, popup_check) values(#{popup_img}, #{popup_title}, 0)
	</insert>
	
	<update id="resetCheck">
		update popup set popup_check=0
	</update>
	
	<update id="changePopup">
		update popup set popup_check=1 where popup_num=#{popup_num }
	</update>
	
	<select id="checkPopupCnt" resultType="Integer">
		select count(*) from popup
	</select>
	
</mapper>