<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.jps.mapper.BasketMapper">
  	<insert id="insert">
  		insert into basket (user_num, item_num, item_color, item_size, item_count, update_date)
  		values(#{user_num}, #{item_num}, #{item_color}, #{item_size}, #{item_count}, now()) 
  	</insert>
  	
  	<delete id="delete">
  		delete from basket where basket_idx=#{basket_idx}
  	</delete>
  	
  	<select id="check" resultType="int">
  		select count(*) from basket where user_num=#{user_num} and item_num=#{item_num} and item_size=#{item_size} and item_color=#{item_color}
  	</select>
  	
  	<update id="update">
  		update basket set item_count=item_count+#{item_count} where user_num=#{user_num} and item_num=#{item_num} and item_size=#{item_size} and item_color=#{item_color}
  	</update>
  	
  	<select id="getInfo" resultType="List">
  		select * from basket where basket_idx = #{basket_idx} and user_num = #{user_num}
  	</select>
  	
  </mapper>