<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jps.mappers.UserMapper">

	<select id="loginUser" resultType="com.jps.domain.UserVO">
		select * from user where
		user_id=#{user_id} and user_pw=#{user_pw}
	</select>

	<select id="infoUser" resultType="com.jps.domain.UserVO">
		select * from user where
		user_num=#{user_num}
	</select>

	<insert id="insertUser">
		insert into user (user_id, user_pw, user_email,
		user_name, user_nickname,
		user_birth, user_gender, user_addr,
		user_phone, user_point, user_bank,
		user_account, user_state) VALUES
		(#{user_id}, #{user_pw},
		#{user_email}, #{user_name}, #{user_nickname},
		#{user_birth},
		#{user_gender}, #{user_addr}, #{user_phone}, 0,
		#{user_bank},
		#{user_account}, 0)
	</insert>

	<select id="checkId" resultType="int">
		select exists (select * from user where user_id=#{user_id}) as user_id
	</select>

	<select id="checkEmail" resultType="int">
		select exists (select * from user where user_email=#{user_email}) as
		user_email
	</select>

	<select id="checkNickname" resultType="int">
		select exists (select * from user where user_nickname=#{user_nickname}) as
		user_nickname
	</select>

	<select id="checkPhone" resultType="int">
		select exists (select * from user where user_phone=#{user_phone}) as
		user_phone
	</select>
	
	<update id="changePw">
		update user set user_pw=#{user_pw} where user_num=#{user_num}
	</update>
	
	<update id="changeNick">
		update user set user_nickname=#{user_nickname} where user_num=#{user_num}
	</update>
	
	<update id="changeEmail">
		update user set user_email=#{user_email} where user_num=#{user_num}
	</update>
	
	<update id="updateLastLogin">
		update user set user_late_login=now() where user_num=#{user_num}
	</update>
	
	<select id="getMyBasketList" resultType="com.jps.domain.BasketVO">
		select * from basket where user_num=#{user_num}
	</select>
	
	<select id="getMyItemList" resultType="com.jps.domain.ItemVO">
		select * from item where item_num in (select item_num from basket where user_num=#{user_num})
	</select>
	
	
	<resultMap type="com.jps.domain.ItemVO" id="ItemVO">
		<result column="item_num" property="item_num" />
		<result column="item_name" property="item_name" />
		<result column="item_img" property="item_img" />
		<result column="item_point" property="item_point" />
	</resultMap>
	
	<resultMap type="com.jps.domain.BasketVO" id="BasketVO">
		<result column="item_size" property="item_size"/>
		<result column="item_color" property="item_color"/>
		<result column="item_count" property="item_count"/>
		<result column="update_date" property="update_date"/>
		<collection property="itemvo" resultMap="ItemVO"></collection>
	</resultMap>
	
	
	<select id="getmbList" parameterType="String" resultMap="BasketVO" >
		select item_num, item_name, update_date, item_price, item_img, item_point, item_size, item_color, item_count from item natural join basket where user_num = #{user_num} 
	</select>
	
	
	
	
</mapper>